body {
  background: white;
}
.rojo {
  color: #cc212a;
  font-weight: bold;
  /* sin position absolute en message centraba el texto
  text-align: center;*/
  font-family: "Montserrat";
}
.nombre {
  font-size: 2rem;
}
.message {
  margin-top: 200px;
  border: 2px solid grey;
  height: 100vh;
  display: block;
  text-align: center;
}
.circulo {
  text-align: center;
  font-size: 70px;
  color: #cc212a;
}
.footer {
  display: relative;
  height: 20vh;
  border-top: 4px solid red;
}

#footer-texto {
  text-align: center;
  color: grey;
  font-size: 20px;
  font-family: "Montserrat";
}
