.happy_body {
  background-color: hsl(48, 100%, 50%);
}

.unhappy_body {
  background-color: #ff9900;
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.option {
  margin-top: 50px;
}
.face {
  font-size: 90px;
}
