.container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  background: pink;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
  width: 170px;
}
.item {
  background: deeppink;
}
