.div1 {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: yellow;
  padding: 40px;
  border: 2px solid orange;
}

.div2 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: green;
  left: 50%;
  padding: 75px;
}

.div3 {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: skyblue;
  border: 20px dotted mediumseagreen;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
